<h4> Pages </h4>
<div class="container">
  <div class="card-panel teal lighten-2 center-align z-depth-2">This is a card panel with a teal lighten-2 class</div>
  <div class="card-panel teal lighten-2 center-align z-depth-2">This is a card panel with a teal lighten-2 class</div>
  <div class="card-panel teal lighten-2 center-align z-depth-2">This is a card panel with a teal lighten-2 class</div>
  <div class="card-panel teal lighten-2 center-align z-depth-2">This is a card panel with a teal lighten-2 class</div>
</div>
{{outlet}}
